#contain{
    height: 340px;
    width: 800px;   
}
#video{
    height: 340px;
    width: 650px;
    background-color: red;
    margin-right: 10px;
    float: left;
}
#images> a > img{
    height: 100px;
    width: 140px;
    margin-bottom: 16px;
    
}
