img{float: left;margin: 0px 10px 10px 0px;}
a{font-size: 20px; font-weight: bold; text-decoration: none;}
hr {clear: both;}
div{width: 40%; margin: 0 auto;}
.maudo{color: red; font-size: 50px; font-size: italic ; text-shadow: 2px 3px 10px rgb(58, 6, 6);}
